<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionButtons_v2</key>
	<dict>
		<key>SmartechSimpleNotification_Actionable</key>
		<dict>
			<key>smtType</key>
			<string>Simple</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>text</string>
					<key>smtAction</key>
					<string>reply</string>
					<key>title</key>
					<string>Share Feedback</string>
					<key>option</key>
					<string>1</string>
					<key>placeholder</key>
					<string>Enter your feedback</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>copy</string>
					<key>title</key>
					<string>Copy Code</string>
					<key>option</key>
					<string>1</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>dismiss</string>
					<key>title</key>
					<string>Dismiss</string>
					<key>option</key>
					<string>3</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>snooze</string>
					<key>title</key>
					<string>Snooze</string>
					<key>option</key>
					<string>2</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>copy</string>
					<key>title</key>
					<string>Copy Code</string>
					<key>option</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
		<key>SmartechSimpleNotification_ActionableCopyCode</key>
		<dict>
			<key>smtType</key>
			<string>Simple</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>copy</string>
					<key>title</key>
					<string>Copy Code</string>
					<key>option</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<key>SmartechSimpleNotification_ActionableSnooze</key>
		<dict>
			<key>smtType</key>
			<string>Simple</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>snooze</string>
					<key>title</key>
					<string>Snooze</string>
					<key>option</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<key>SmartechSimpleNotification_ActionableDismiss</key>
		<dict>
			<key>smtType</key>
			<string>Simple</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>dismiss</string>
					<key>title</key>
					<string>Dismiss</string>
					<key>option</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<key>SmartechSimpleNotification_ActionableReply</key>
		<dict>
			<key>smtType</key>
			<string>Simple</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>text</string>
					<key>smtAction</key>
					<string>reply</string>
					<key>title</key>
					<string>Send</string>
					<key>option</key>
					<string>1</string>
					<key>placeholder</key>
					<string>Enter your feedback</string>
				</dict>
			</array>
		</dict>
		<key>SmartechSimpleNotification_ActionableReplyCopy</key>
		<dict>
			<key>smtType</key>
			<string>Simple</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>text</string>
					<key>smtAction</key>
					<string>reply</string>
					<key>title</key>
					<string>Send</string>
					<key>option</key>
					<string>1</string>
					<key>placeholder</key>
					<string>Enter your feedback</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>copy</string>
					<key>title</key>
					<string>Copy Code</string>
					<key>option</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<key>SmartechImageNotification_ActionableYesNo</key>
		<dict>
			<key>smtType</key>
			<string>Image</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>deeplink</string>
					<key>title</key>
					<string>Yes</string>
					<key>option</key>
					<string>4</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>deeplink</string>
					<key>title</key>
					<string>No</string>
					<key>option</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
		<key>SmartechImageNotification_ActionableYesNoMaybe</key>
		<dict>
			<key>smtType</key>
			<string>Image</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>deeplink</string>
					<key>title</key>
					<string>Yes</string>
					<key>option</key>
					<string>4</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>deeplink</string>
					<key>title</key>
					<string>No</string>
					<key>option</key>
					<string>4</string>
				</dict>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>deeplink</string>
					<key>title</key>
					<string>Maybe</string>
					<key>option</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<key>SmartechImageNotification_ActionableDismiss</key>
		<dict>
			<key>smtType</key>
			<string>Image</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>dismiss</string>
					<key>title</key>
					<string>Dismiss</string>
					<key>option</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<key>SmartechImageNotification_ActionableCopyCode</key>
		<dict>
			<key>smtType</key>
			<string>Image</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>copy</string>
					<key>title</key>
					<string>Copy Code</string>
					<key>option</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
		<key>SmartechImageNotification_ActionableReply</key>
		<dict>
			<key>smtType</key>
			<string>Image</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>text</string>
					<key>smtAction</key>
					<string>reply</string>
					<key>title</key>
					<string>Send</string>
					<key>option</key>
					<string>1</string>
					<key>placeholder</key>
					<string>Enter your feedback</string>
				</dict>
			</array>
		</dict>
		<key>SmartechImageNotification_ActionableSnooze</key>
		<dict>
			<key>smtType</key>
			<string>Image</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>snooze</string>
					<key>title</key>
					<string>Snooze</string>
					<key>option</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<key>SmartechAudioNotification_ActionableDismiss</key>
		<dict>
			<key>smtType</key>
			<string>Audio</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>dismiss</string>
					<key>title</key>
					<string>Dismiss</string>
					<key>option</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<key>SmartechAudioNotification_ActionableSnooze</key>
		<dict>
			<key>smtType</key>
			<string>Audio</string>
			<key>actionItems</key>
			<array>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>smtAction</key>
					<string>snooze</string>
					<key>title</key>
					<string>Snooze</string>
					<key>option</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
